*{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: url(images/background.png);
    background-position: center;
    background-size: cover;
    
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

nav img{
    width: 150px;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    transition: all 0.2s ease-in-out;
}

.nav-links ul li a{
    color: #000000;
    text-decoration: none;
    font-size: 16px;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background:#ffffff ;
    display: block;
    margin: auto;
    transition: 0.25s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

.nav-links ul li:hover a{
    color: #ffffff;
}

.text-box{
    width: 90% ;
    color: #000000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.my-btn{
    display: inline-block;
    text-decoration: none;
    color: #000000;
    border: 1px solid #000000;
    font-size: 16px;
    padding: 12px 34px;
    background: transparent;
    position: relative;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.my-btn:hover{
    border: 1px solid #000000;
    background: #ffffff;
    transition: 1s;
}

/* New section for the about us section*/
.sub-header{
    min-height: 45vh;
    width: 100%;
    background-image: url(images/background.png);
    background-position: relative;
    background-size: cover;
    position: static;

}
.sub-header h1{
    margin-top: 150px;
    text-align: center;
    color: #000000;
}



.about-us{
    width: 80%;
    margin: auto;
    padding-top: 60px;
    padding-bottom: 40px;
}
.me-col{
    flex-basis: 48%;
    padding: 30px 2px;
   
}
.me-col h1{
    padding-top: 0;
}
.me-col p{
    padding: 15px 0 25px;
}
.me{
    margin-left: 1100px; /* Add some margin for spacing */
    margin-top: -200px;
}
.me-col h4{
    padding: 15px 0 25px;
}

.our-btn {
    background-color: #000000;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 25px;
    text-transform: uppercase;
    border-radius: 5px;
    text-decoration: none;
    border: 2px solid #000000;
    transition: all 0.3s ease;
  }
  
  .our-btn:hover {
    background-color: #fff;
    color: #000000;
  }



.about-baseball{
    width: 80%;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 60px;
    margin-top: -150px;
}
.about-col{
    flex-basis: 48%;
    margin-top: -500px;
    margin-left: 850px;
    padding-bottom: 200px;
   
}
.about-col h1{
    padding-top: 0;

}
.about-col p{
    padding: 15px 0 25px;
}
.baseball{
    padding-top: 100px;
    margin-top: -350px;
    padding-bottom: 200px;
}
.about-col h4{
    padding: 15px 0 25px;

}



.valorant{
    width: 80%;
    margin: auto;
    padding-top: -100px;
    padding-bottom: 60px;
    margin-top: -200px;
}
.val{
    flex-basis: 48%;
    margin-top: -350px;
    margin-left: 850px;
    padding-bottom: 200px;
}
.val h1{
    padding: 15px 0 25px;

}
.val p{
    padding: 15px 0 25px;
}
.valpic{
    padding-top: 100px;
    margin-top: 10px;

}
.val h5{
    padding: 15px 0 25px;
}

.vbtn {
    background-color: #000000;
    color: #ff0000;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 25px;
    text-transform: uppercase;
    border-radius: 5px;
    text-decoration: none;
    border: 2px solid #000000;
    transition: all 0.3s ease;
    margin-left: 100px;
  }
  
  .vbtn:hover {
    background-color: #fff;
    color: #ff0000;
  }

  .vbtn-mdl{
    background-color: #000000;
    color: #ffdd00;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 25px;
    text-transform: uppercase;
    border-radius: 5px;
    text-decoration: none;
    border: 2px solid #000000;
    transition: all 0.3s ease;
    margin-left: 50px;
  }
  
  .vbtn-mdl:hover {
    background-color: #671bf6;
    color: #ffdd00;
  }

  