* {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}


.header {
    min-height: 100vh;
    width: 100%;
    background-image: url(images/background.png);
    background-position: bottom center;
    background-size: cover;

}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

nav img {
    width: 150px;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    transition: all 0.2s ease-in-out;
}

.nav-links ul li a {
    color: #000000;
    text-decoration: none;
    font-size: 16px;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #ffffff;
    display: block;
    margin: auto;
    transition: 0.25s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.nav-links ul li:hover a {
    color: #ffffff;
}

.text-box {
    width: 90%;
    color: #000000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1 {
    margin: 20px 0;
}

.my-btn {
    display: inline-block;
    text-decoration: none;
    color: #000000;
    border: 1px solid #000000;
    font-size: 16px;
    padding: 12px 34px;
    background: transparent;
    position: relative;
    cursor: pointer;
    margin: 20px 0;
    transition: all 0.2s ease-in-out;
}

.my-btn:hover {
    border: 1px solid #000000;
    background: #ffffff;
    transition: 1s;
}

/* New section for the about us section*/
.sub-header {
    min-height: 45vh;
    width: 100%;
    background-image: url(images/background.png);
    background-position: relative;
    background-size: cover;
    position: static;

}

.sub-header h1 {
    margin-top: 150px;
    text-align: center;
    color: #000000;
}





/* About Section  */
/* About Section  */
/* About Section  */
/* About Section  */
.about-us {
    margin-top: 40px;
    width: 90%;
    margin: auto;
    padding-top: 60px;
    padding-bottom: 40px;
}

.about-us .title h1 {
    text-align: center;
    margin-bottom: 40px;
}

/* About Container  */
.about-container {
    display: grid;
    grid-template-columns: 65% 35%;
    column-gap: 40px;
    row-gap: 40px;
}

/* About Context  */
.about-us .about-context .context-title h1 {
    padding: 20px 0;
}

/* Context Info  */
.about-us .about-context .context-info {
    padding-bottom: 20px;
}

.about-us .about-context .context-title h4 {
    padding-bottom: 20px;
}

.about-us .more-button {
    margin: 20px 0;
}

.about-us .more-button .our-btn {
    background-color: #000000;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 25px;
    text-transform: uppercase;
    border-radius: 5px;
    text-decoration: none;
    border: 2px solid #000000;
    transition: all 0.3s ease;
}


/* About Me Photo  */
.about-us .me-photo img {
    width: 100%;
}

/* Responsive About Section  */
@media screen and (max-width: 992px) {
    .about-us .about-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .about-us .about-context {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
    }
}

@media screen and (max-width: 645px) {
    .about-us .about-container {
        grid-template-columns: 1fr;
    }

}

/* About Baseball Section */
.about-baseball {
    width: 90%;
    margin: auto;
    padding-top: 60px;
    padding-bottom: 40px;
}

/* Baseball Container  */
.about-baseball .baseball-container {
    display: grid;
    grid-template-columns: 65% 35%;
    column-gap: 40px;
    row-gap: 40px;
}

.about-baseball .baseball {
    margin-top: -20rem;
}

.about-baseball .baseball img {
    max-width: 100%;
}

/* Baseball Context  */
.about-baseball .baseball-context .baseball-title h1 {
    padding: 20px 0;
}

.about-baseball .baseball-context .baseball-info {
    padding-bottom: 20px;
}

.about-baseball .baseball-context .baseball-title h4 {
    padding-bottom: 20px;
}

/* About Baseball Section Responsive  */
@media screen and (max-width: 1280px) {
    .about-baseball .baseball {
        margin-top: -17rem;
    }
}

@media screen and (max-width: 1180px) {
    .about-baseball .baseball {
        margin-top: -15rem;
    }
}

@media screen and (max-width: 1080px) {
    .about-baseball .baseball {
        margin-top: -12rem;
    }
}

@media screen and (max-width: 992px) {
    .about-baseball .baseball {
        margin-top: 0;
    }

    .about-baseball .baseball-context {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
    }
}


@media screen and (max-width: 645px) {
    .about-baseball .baseball-container {
        grid-template-columns: 1fr;
    }

    .about-baseball .baseball {
        order: calc(2);
    }

    .about-baseball .baseball-context {
        order: calc(1);
    }
}







/* valorant Section  */
/* valorant Section  */
/* valorant Section  */
.valorant {
    width: 90%;
    margin: auto;
    padding-top: 60px;
    padding-bottom: 40px;
}

/* valorant Container  */
.valorant .valorant-container {
    display: grid;
    grid-template-columns: 65% 35%;
    column-gap: 40px;
    row-gap: 40px;
}

/* valorant Photo  */
.valorant .valorant-container .valpic {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.valorant .valorant-container .valpic img {
    max-width: 100%;
}


/* valorant Context  */

/* Val Title  */
.valorant .valorant-container .val-context .val-title h1 {
    padding: 20px 0;
}

/* Val Links  */
.valorant .valorant-container .val-context .val-links {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 20px;
}

.valorant .valorant-container .val-context .vbtn {
    background-color: #000000;
    color: #ff0000;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 25px;
    text-transform: uppercase;
    border-radius: 5px;
    text-decoration: none;
    border: 2px solid #000000;
    transition: all 0.3s ease-in-out;
}

.valorant .valorant-container .val-context .vbtn:hover {
    background-color: #fff;
    color: #ff0000;
}

.valorant .valorant-container .val-context .vbtn-mdl {
    background-color: #000000;
    color: #ffdd00;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 25px;
    text-transform: uppercase;
    border-radius: 5px;
    text-decoration: none;
    border: 2px solid #000000;
    transition: all 0.3s ease-in-out;
}

.valorant .valorant-container .val-context .vbtn-mdl:hover {
    background-color: #671bf6;
    color: #ffdd00;
}

/* valorant Info  */
.valorant .valorant-container .val-context .val-info {
    margin: 20px 0;
}

/* valorant Responsive Section  */
@media screen and (max-width: 992px) {
    .valorant .valorant-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 645px) {
    .valorant .valorant-container {
        grid-template-columns: 1fr;
    }

    .valorant .valorant-container .valpic {
        order: calc(2);
    }

    .valorant .valorant-container .val-context {
        order: calc(1);
    }
}

@media screen and (max-width: 400px) {
    .valorant .valorant-container .val-context .vbtn {
        padding: 10px 10px;
    }

    .valorant .valorant-container .val-context .vbtn-mdl {
        padding: 10px 10px;
    }
}

@media screen and (max-width: 332px) {
    .valorant .valorant-container .val-context .vbtn {
        padding: 10px 10px;
        font-size: 14px;
    }

    .valorant .valorant-container .val-context .vbtn-mdl {
        padding: 10px 10px;
        font-size: 14px;
    }
}






/* PROJECTS*/
/* PROJECTS*/
/* PROJECTS*/
/* PROJECTS*/
.about-search {
    width: 80%;
    margin: auto;
    padding-top: 60px;
    padding-bottom: 40px;
}

.about-search .title h1 {
    text-align: center;
}

.search {
    flex-basis: 48%;
    padding: 30px 2px;
}

.search h1 {
    padding-top: 0;
}

.search p {
    padding: 15px 0 25px;
}



.about-gwack {
    width: 80%;
    margin: auto;
    padding-top: 60px;
    padding-bottom: 40px;
}

.gwack {
    flex-basis: 48%;
    padding: 30px 2px;
}

.gwack h1 {
    padding-top: 0;
}

.gwack p {
    padding: 15px 0 25px;
}
